services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8501:8501"
      - "5000:5000"
    environment:
      HUGGING_FACE_TOKEN: ${HF_TOKEN}
    volumes:
      - ./mlruns:/app/mlruns